   <ul class="more_list">
        <li>
          <%= link_to '編集', root_path%>
        </li>
        <li>
          <%= link_to '削除', root_path %>
        </li>
      </ul>
    </div>
 
    <span class="name"><%= @menu.name %>
    