   <div class="more_list">
          <%= link_to '編集', edit_menu_path(@menu.id),method: :get %>
      
          <%= link_to '削除', menu_path(@menu.id),method: :delete %>
      </div>
    <span class="name"><%= @menu.name %></span>
    