.row{
  background-color: chartreuse;
}
.align-right{
  text-align: right;
}

.week{
  display: flex;
  justify-content: space-between;
}
.week-menu{
  padding: 0 20px;
  width: calc((100% - 50px) / 7);
  border: 1px solid black;
}
.week-menu p{
  text-align: center;
}
.kondate{
  margin: 0 20px;
}
